/*li a {
  font-family: Arial, san-serif;
  font-size: 20px;
  text-decoration: none;
  color: #333;
}
li a:hover {
  text-decoration: underline;
  color: blue;
}
li a:hover {
  text-decoration: none;
  border-bottom: 1px dashed red;
  color: red;
}
button:disabled {
  color: red;
}
ul li [href="123"] {
  color: green;
}
li a:visited {
  font-size: 40px;
}
ul li:first-child {
  background-color: blue;
}
ul li:last-child {
  background-color: blue;
}
ul li:nth-child(3) {
  background-color: blue;
}
ul li:nth-child(even) {
  background-color: #fff;
}
ul li:nth-child(odd) {
  background-color: #eee;
}*/
.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  margin: 50px auto;
  border: 2px solid #000;
}
.wrapper div {
  width: 100px;
  height: 100px;
}
.wrapper div:nth-child(odd)  {
  background-color: #050000;
}
.wrapper div:nth-child(3n)  {
  background-color: #050000;
}
.wrapper div:nth-child(3n+2)  {
  background-color: #040000;
}
