body {
  margin: 0;
  height: auto;
  background: url(../img/sea.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.gut {
  margin: 0 auto;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 15px;
  font-weight: 200;
}

.menu > ul {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 26px;
  padding: 5px;
  margin: 60px auto;
}

.submenu > ul {
  list-style: none;
}

.wc {
  text-decoration: none;
  color: #fff;
}

.bc {
  position: relative;
  color: #000;
  font-size: 20px;
  text-decoration: none;
  right: 20px;
}

li>a:hover, .menu_about>a:hover {
  color: #3385ff;
}

.circle {
  display: inline-block;
  position: relative;
  width: 130px;
  height: 130px;
  background: #fff;
  border-radius: 130px;
}

.journey {
  position: absolute;
  left: 30px;
  bottom: 0px;
  font-size: 50px;
  text-align: center;
  font-family: 'Dorsa', sans-serif;
}

.menu_about:hover > .submenu {
  display: inline-block;
  margin-top: 20px;
  border-radius: 5%;
  left: 380px;
  background: #fff;
  width: 75px;
  height: 90px;
}

.menu_about:hover > .triangle-top {
  display: inline-block;
  width: 7px;
  height: 10px;
  left: 405px;
  margin-bottom: 3px;
  border-style: solid;
  border-width: 0 10px 15px 10px;
  border-color: transparent transparent #fff transparent;
}

.triangle-top {
  display: none;
  position: absolute;
}

.menu {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
}

.block {
  display: flex;
  flex-wrap: wrap;
}

main {
  padding: 90px 45px 80px 45px;
  width: 800px;
  background-color: #fff;
  margin: 0 auto;
}

.gallery {
  width: 610px;
  display: flex;
  flex-wrap: wrap;
}

h2 {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 35px 20px 0 0;
}

.price {
  margin: 0 0 0 15px;
}

.price tr:nth-child(2),tr:nth-child(5) {
  color: #44C8DC;
  font-weight: 500;
}

.price tr:nth-child(1), tr:nth-child(4) {
  font-family: Arial, sans-serif;
  font-size: 11px;
}

button {
  margin-top: 25px;
  background: #fff;
  background: #EDEDED;
  border: 1px solid #C4CACB;
  border-radius: 4px;
}

img {
  width: 150px;
  height: 120px;
}

.content h4 {
  margin-top: 0;
  color: #274A61;
}

.aside-part {
  width: 170px;
  padding: 0 0 0 20px;
}

input {
  margin-top: 60px;
  margin-bottom: 10px;
  background: #EDEDED;
  border-radius: 4px;
  border: 1px solid #C4CACB;
}

select {
  width: 150px;
  background: #F0F2F3;
  border-radius: 4px;
  border: 1px solid #CDCED0;
}

option {
  color: #fff;
  background: #BEC3C6;
}

 aside p {
  font-family: Arial, sans-serif;
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 5px;
}

.to-top::after {
  content: "\25e0";
  text-align: center;
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #5DADE2;
  bottom: 250px;
  left: 1077px;
}

footer {
  width: 890px;
  height: 90px;
  margin: 0 auto;
  padding: 0 0 15px 0;
  font-family: 'Barlow Condensed', sans-serif;
}

.ad_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #30455b;
  color: white;
}

.ad_info a {
  color: white;
  font-size: 18px;
  padding: 0;
  font-weight: normal;
  text-decoration: none;
}

.ad_info a:hover {
  color: #5DADE2;
}

.sprites {
  margin: 10px 0 0 600px;
  padding: 10px 30px 10px 0;
}

.icons {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.linkedin {
  background: url('../img/png/icons.png') -10px -62px;
}

.facebook {
  background: url('../img/png/icons.png') -10px -10px;
}

.google_plus {
  background: url('../img/png/icons.png') -62px -10px;
}

.twitter {
  background: url('../img/png/icons.png') -62px -62px;
}

.designed {
  color: #fff;
  margin: 0 0 0 500px;
  font-family: 'Barlow Condensed', sans-serif;
}
